*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: block;
}

ul {
    list-style: none;
}

h3 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.3rem;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/*---- Header ----------------------------------------------------------------*/

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    /* background-color: gainsboro; */
}

.header_container h1 {
    margin: 0 auto;
    font-size: 1.3rem;
    color: #110066;
    text-align: center;
    margin: 0 10px;
}

.logo img, .deutz-fahr_logo img {
    width: 100%;

}

nav {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul {
    display: flex;
    margin: 0 auto;
}

nav a {
    color: white;
    font-size: 1rem;
}

.menu {
    padding: 1.5rem 0.5rem;
    margin-right: 20px;
}

.menu:hover {
    background-image: linear-gradient(135deg, #494949 0%, #cacaca 100%);
}

.tel {
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 0.9rem;
}

/*---- Content ----------------------------------------------------------------*/


.main_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 5px 0 5px;
    background-color: rgb(228, 228, 228);
}
.news {
    width: 15%;
    text-align: center;
}

.news h3 {
    width: 100%;
    border-bottom: solid  1px black;
    margin-bottom: 20px;
}

.news_items img {
    width: 100%;
    object-fit: cover;
}

.news_items p {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.content {
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.content_items {
    width:30% ;
    text-align: center;
    margin-bottom: 10px;
}

.content_items img {
    width: 80%;
    object-fit: cover;
}

.content_items h4 {
    margin: 10px 0;
    text-align: center;
}

.content_items p {
    font-size: 0.9rem;
    display: block;
}

/*---- Offer, About ----------------------------------------------------------------*/

.offer, .about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
    padding: 0 5px 0 5px;
}

.offer div {
    width: 40%;
}

.offer img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.offer h2, .about h2, .about h3{
    margin-bottom: 10px;
    width: 100%;
}

.about {
    background-color: rgb(228, 228, 228);
    padding: 10px 5px;
}

.about div {
    width: 45%;
}

.about p {
    line-height: 1.2rem;
    text-align: left;
}

/*---- Footer ----------------------------------------------------------------*/

footer {
    margin-top: 40px;
}

.col {
    padding: 0 5px 0 5px;
}

.contacts {
    background-color: #333333;
    font-size: 1rem;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
}

.contacts h3 {
    margin: 10px 0;
}

.contacts ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.contacts li {
    margin-right: 10px;
}

.contacts a {
    color: white;
}




/*---- Media ----------------------------------------------------------------*/

@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }
    .news {
        order: 2;
    }

    .content {
        order: 1;
    }
    .news, .content,.news_items, .content_items,.about div, .offer div {
        width: 100%;
    }
    .news {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .news h3 {
        margin-top: 20px;
        border-bottom: none;
    }

    .menu {
        padding: 1rem 0.1rem;
        margin-right: 10px;
    }

    .about div, .offer div {
        margin-bottom: 10px;
    }

    .content_items p,.news_items p, .offer p, .about p, nav a, .contacts {
        font-size: 0.6rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    h4 {
        font-size: 0.7rem;
    }
    .tel {
        margin-right: 5px;
        font-size: 0.5rem; 
    }
    .news h3 {
        font-size: 0.9rem;
    }
    .header_container {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
    .header_container h1  {
        display: none;
    }

    .logo, .deutz-fahr_logo {
        width: 40%;
    
    }
 }

/* // Малые девайсы («ландшафтные», >= 575px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .container {
        width: 100%;
    }
    .news {
        order: 2;
    }

    .content {
        order: 1;
    }
    .news, .content {
        width: 100%;
    }
    .news {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .news_items {
        width: 45%;
    }

    .news h3 {
        margin-top: 20px;
        border-bottom: none;
    }
    .content_items {
        width: 50%;
    }
    .menu {
        margin-right: 10px;
    }

    .content_items p,.news_items p, .offer p, .about p, nav a, .contacts {
        font-size: 0.8rem;
    }
    h3 {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 0.9rem;
    }
    .header_container h1  {
        font-size: 1rem;
    }

    .news h3 {
        font-size: 1.1rem;
    }
 }

/* // Средние девайсы («таблетки», >= 768px)  */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .content_items p {
        font-size: 0.7rem;
    }
    .news_items p {
        font-size: 0.6rem;
    }
    .header_container h1  {
        font-size: 1.1rem;
    }
 }

/* // Большие девайсы (большие десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

/* // Большие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) { 

 }