*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: block;
}

ul {
    list-style: none;
}

h3 {
    font-size: 1.2rem;
    
}

h2 {
    font-size: 1.3rem;

}
.container {
    width: 90%;
    margin: 0 auto;
}

/*---- Header ----------------------------------------------------------------*/

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    /* background-color: gainsboro; */
}

.header_container h1 {
    margin: 0 auto;
    font-size: 1.3rem;
    color: #110066;
    text-align: center;
    margin: 0 10px;
}

.logo img, .deutz-fahr_logo img {
    width: 100%;

}

nav {
    background-color: #333333;
    display: flex;
    align-items: center;  
}

nav ul {
    display: flex;
    margin: 0 auto;
}

nav a {
    color: white;
    font-size: 1rem;
}

.menu {
    padding: 1.5rem 0.5rem;
    margin-right: 20px;
}

.menu:hover {
    background-image: linear-gradient(135deg, #494949 0%, #cacaca 100%);
}

.tel {
    margin-right: 10px;
    margin-bottom: 3px;
    font-size: 0.9rem;
}

/*---- Content ----------------------------------------------------------------*/


.main_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 5px 0 5px;
    background-color: rgb(228, 228, 228);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.news {
    width: 15%;
    text-align: center;
    background-color: #AEBD38;
    border-radius: 5px;
    padding: 5px;

}


.news h3 {
    width: 100%;
    border-bottom: solid  1px black;
    margin-bottom: 20px;
}

.news_items img {
    width: 100%;
    object-fit: cover;
}

.news_items p {
    font-size: 0.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.news_items {
    margin-bottom: 20px;
}

.content {
    width: 83%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: baseline;
}

.content h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.content_items {
    width:30% ;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.1s ease-in;
    box-shadow: 1px 2px 5px -1px #297042;
    
}

.content_items a {
    color: black;
}

.content_items:hover {
    outline: 1px solid #297042;
}

.content_items img {
    width: 80%;
    object-fit: contain;
    aspect-ratio: 16/9;
}

.content_items h4 {
    margin: 10px 0;
    text-align: center;
}

.content_items p {
    font-size: 0.9rem;
    display: block;
}


.item_char {
    width: 95%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item_char img {
    width: 50%;
    object-fit: contain;
    aspect-ratio: 16/9;
    display: block;
    margin: 0 auto;
}

.item_char h4 {
    text-align: center;
    margin: 10px 0;
}

.item_char p {
    text-align: center;
    margin: 10px 0;
}

.item_char span {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1rem;
}

.item_char ul li {
    margin: 5px;
}

.item_char_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item_char_flex div {
    width: 40%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px -1px #297042;
    margin-bottom: 10px;
    padding: 5px;
    
}
.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.details, .order {
    background: #000;
    padding: 1em 2em;
    text-transform: uppercase;
    color: #84CB3F;
    text-decoration: none;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: .3s;
    letter-spacing: 0.05rem;
}

.details:hover, .order:hover {
    background: #84CB3F;
    color: #333333;
    font-weight: bold;
    box-shadow: 0px 15px 20px rgba(37, 37, 37, 0.4);
    transform: translateY(-7px);
}

/*---- Offer, About ----------------------------------------------------------------*/

.offer, .about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
    padding: 0 5px 0 5px;
}

.offer div {
    width: 40%;
}

.offer img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.offer h2, .about h2, .about h3{
    margin-bottom: 10px;
    width: 100%;
}

.about {
    background-color: #598234;
    padding: 10px 5px;
    border-radius: 5px;
}

.about div {
    width: 45%;
}

.about p {
    line-height: 1.2rem;
    text-align: left;
}

/*---- Footer ----------------------------------------------------------------*/

footer {
    margin-top: 40px;
}

.col {
    padding: 0 5px 0 5px;
}

.contacts {
    background-color: #333333;
    font-size: 1rem;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-top: 10px;
}

.contacts h3 {
    margin: 10px 0;
}

.contacts ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.contacts li {
    margin-right: 10px;
}

.contacts a {
    color: white;
}

/*---- News All ----------------------------------------------------------------*/

.news_all  {
    width: 100%;
}

.news_all h3 {
    text-align: center;
    margin-bottom: 10px;
}

.news_full_description {
    background: linear-gradient(#ffffff, #AEBD38);
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 20px;
}
.active {
    display: block;
}

.none {
    display: none;
}

.active, .none {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 5px;
}

.news_slider {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    margin: 0 auto 10px;
}

.next, .prev {
    width: 30px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    background: rgba(233, 230, 233, 0.7);
    top:50%;
    transition: all 0.5s ease;
}

.next:hover, .prev:hover {
    transform: rotate(360deg);
    background: rgba(	174, 189, 56, 0.9);
}

.next {
    right:0;
}

.prev {
    left:0%;
}

.news_date {
    display: block;
    margin-top: 10px;
    font-style: italic;
}

/*---- Media ----------------------------------------------------------------*/

@media (max-width: 575.98px) {
    .container {
        width: 100%;
    }
    .news {
        order: 2;
    }

    .content {
        order: 1;
    }
    .news, .content,.news_items, .content_items,.about div, .offer div {
        width: 100%;
    }

    .news_slider{
        width: 80%;
    }
    .news {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .news h3 {
        margin-top: 20px;
        border-bottom: none;
    }

    .menu {
        padding: 1rem 0.1rem;
        margin-right: 10px;
    }

    .about div, .offer div {
        margin-bottom: 10px;
    }

    .content_items p,.news_items p, .offer p, .about p, nav a, .contacts, .item_char li, .item_char p, .item_char span, .details, .order, .news_full_description p, .news_full_description span {
        font-size: 0.6rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    h4 {
        font-size: 0.7rem;
    }
    .tel {
        margin-right: 5px;
        font-size: 0.5rem; 
    }
    .news h3 {
        font-size: 0.9rem;
    }
    .header_container {
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }
    .header_container h1  {
        display: none;
    }

    .logo, .deutz-fahr_logo {
        width: 40%;
    
    }
    .item_char_flex div {
        width: 100%;
    }

    .details, .order {
        letter-spacing: 0;
    }
 }

/* // Малые девайсы («ландшафтные», >= 575px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .container {
        width: 100%;
    }
    .news {
        order: 2;
    }

    .content {
        order: 1;
    }
    .news, .content {
        width: 100%;
    }
    .news {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .news_items {
        width: 45%;
    }

    .news h3 {
        margin-top: 20px;
        border-bottom: none;
    }
    .content_items {
        width: 45%;
    }
    .menu {
        margin-right: 10px;
    }

    .content_items p,.news_items p, .offer p, .about p, nav a, .contacts, .item_char li, .item_char p, .item_char span,.news_full_description p, .news_full_description span {
        font-size: 0.8rem;
    }
    h3 {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 0.9rem;
    }
    .header_container h1  {
        font-size: 1rem;
    }

    .news h3 {
        font-size: 1.1rem;
    }
    .item_char_flex div {
        width: 100%;
    }
    .details, .order {
        font-size: 0.8rem;
    }
 }

/* // Средние девайсы («таблетки», >= 768px)  */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .content_items {
        width: 45%;
    }

    .content_items p {
        font-size: 0.7rem;
    }
    .news_items p {
        font-size: 0.6rem;
    }
    .header_container h1  {
        font-size: 1.1rem;
    }
    .item_char_flex div {
        width: 100%;
    }
 }

/* // Большие девайсы (большие десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

/* // Большие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) { 

 }