<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>

<body>
    <div class="container">
        <header th:insert="blocks/header :: header"></header>
        <div class="main_container">
            <section class="news"><a name="news"></a>
                <h3>Новости</h3>
                <div class="news_items">
                    <img src="../static/img/IMG-20211110-WA0002.jpg" th:src="@{../img/IMG-20211110-WA0002.jpg}" alt="">
                    <p>Аграрная неделя ноябрь 2021
                    </p>
                </div>
                <div class="news_items">
                    <img src="../static/img/IMG_20220120_105041.jpg" th:src="@{../img/IMG_20220120_105041.jpg}" alt="">
                    <p>Отгрузка в хозяйство Новосибирской области
                    </p>
                </div>
            </section>
            <section class="content"><a name="content"></a>
                <div class="item_char">
                    <h2>6 Серия</h2>
                    <img src="https://thumb.tildacdn.com/tild3030-6331-4661-a136-313866393265/-/resize/283x/-/format/webp/6serial.png"
                        alt="">
                    <div>
                        <p style="font-weight: bold;">DEUTZ-FAHR AGROTRON 6215</p>
                        <p>10 моделей мощностью от 156 до 226 л. с., три колесных базы, три варианта трансмиссии,
                            несколько
                            типов кабин с различными уровнями комфорта и множеством дополнительных возможностей.
                        </p>
                        <div class="item_char_flex">
                            <div>
                                <span>ДВИГАТЕЛЬ И СИСТЕМА ПИТАНИЯ</span>
                                <ul>
                                    <li>Производитель DEUTZ</li>
                                    <li>Количество цилиндров 6</li>
                                    <li>Рабочий объем 6057 см3</li>
                                    <li>Соответствие экологическим нормам TIER 3</li>
                                    <li>Номинальная мощность (ECE R 120) 212 л.с.</li>
                                    <li>Максимальная мощность (ECE R 120) 221 л.с.</li>
                                    <li>Максимальный крутящий момент 889 Нм</li>
                                    <li>Общий объем топливных баков 340 л</li>
                                </ul>
                            </div>
                            <div>
                                <span>ТРАНСМИССИЯ</span>
                                <ul>
                                    <li>Тип КПП Powershift</li>
                                    <li>Количество скоростей вперед/назад 54/27</li>
                                    <li>Максимальная скорость движения 40 км/ч</li>
                                </ul>
                            </div>
                            <div>
                                <span>ХОДОВАЯ СИСТЕМА</span>
                                <ul>
                                    <li>Вкл./выкл. полного привода электро-гидравлическое</li>
                                    <li>Блокировка дифференциалов электро-гидравлическая</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГИДРАВЛИЧЕСКАЯ СИСТЕМА И НАВЕСКА</span>
                                <ul>
                                    <li>Производительность насоса системы 120 л/мин.</li>
                                    <li>Тип системы CCLS</li>
                                    <li>Грузоподъемность заднего навесного устройства 9700 кг</li>
                                </ul>
                            </div>
                            <div>
                                <span>ВАЛ ОТБОРА МОЩНОСТИ</span>
                                <ul>
                                    <li>Скоростные режимы ВОМ 540/540E/1000/1000E об/мин.</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГАБАРИТНЫЕ РАЗМЕРЫ И ВЕС</span>
                                <ul>
                                    <li>Длина* 4478 мм</li>
                                    <li>Минимальная ширина** 2486 мм</li>
                                    <li>Максимальная ширина** 2720 мм</li>
                                    <li>Максимальная высота** 3153 мм</li>
                                    <li>Колесная база** 2848 мм</li>
                                    <li>Минимальный вес без балластов** 7730 кг</li>
                                    <li>Вес в стандартной комплектации** 8400 кг</li>
                                    <li>Максимальный допустимый рабочий вес 13500 кг</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="https://www.deutz-fahr.com/ru-ru/products/tractors/11429-6-series" class="details"
                            target="__blank">Подробнее</a>
                        <a href="#" class="order">Заказать</a>
                    </div>
                </div>
            </section>
        </div>
        <header th:insert="blocks/footer :: footer"></header>
    </div>
</body>

</html>