<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>

<body>
    <div class="container">
        <header th:insert="blocks/header :: header"></header>
        <div class="main_container">
            <section class="news"><a name="news"></a>
                <header th:insert="blocks/newsblock :: fragment"></header>
            </section>
            <section class="content"><a name="content"></a>
                <div class="item_char">
                    <h2>AGROFARM 115 G</h2>
                    <img src="https://thumb.tildacdn.com/tild3431-3034-4862-b835-323535383161/-/resize/283x/-/format/webp/AGROFARM_115_G.png"
                        alt="">
                    <div>
                        <p style="font-weight: bold;">DEUTZ-FAHR AGROFARM 115 G</p>
                        <p>Данная модель отличается небольшими габаритными размерами и высокотехнологичным оснащением.
                            Трактор доступен в исполнении GS с КПП powershift и электрогидравлическим реверсом.
                        </p>
                        <div class="item_char_flex">
                            <div>
                                <span>ДВИГАТЕЛЬ И СИСТЕМА ПИТАНИЯ</span>
                                <ul>
                                    <li>Производитель SDF</li>
                                    <li>Количество цилиндров 4</li>
                                    <li>Рабочий объем 4000 см3</li>
                                    <li>Соответствие экологическим нормам Евро 2</li>
                                    <li>Максимальная мощность (2000/25/EC) 110 л.с.</li>
                                    <li>Максимальный крутящий момент 396 Нм</li>
                                    <li>Общий объем топливных баков 150 л.</li>
                                </ul>
                            </div>
                            <div>
                                <span>ТРАНСМИССИЯ</span>
                                <ul>
                                    <li>Тип КПП Механическая</li>
                                    <li>Количество скоростей вперед/назад 20/20</li>
                                    <li>Максимальная скорость движения 40 км/ч</li>
                                </ul>
                            </div>
                            <div>
                                <span>ХОДОВАЯ СИСТЕМА</span>
                                <ul>
                                    <li>Вкл./выкл. полного привода Механическое</li>
                                    <li>Вкл./выкл. блокировок дифференциалов Электрогидравлическое</li>
                                    <li>Максимальная скорость движения 40 км/ч</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГИДРАВЛИЧЕСКАЯ СИСТЕМА И НАВЕСКА</span>
                                <ul>
                                    <li>Производительность насоса системы 56 л/мин.</li>
                                    <li>Тип системы OCFD</li>
                                    <li>Грузоподъемность заднего навесного устройства 4800 кг</li>
                                </ul>
                            </div>
                            <div>
                                <span>ВАЛ ОТБОРА МОЩНОСТИ</span>
                                <ul>
                                    <li>Скоростные режимы ВОМ 540/1000 об/мин.</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГАБАРИТНЫЕ РАЗМЕРЫ И ВЕС</span>
                                <ul>
                                    <li>Длина* 3990 мм</li>
                                    <li>Минимальная ширина** 2050 мм</li>
                                    <li>Максимальная ширина** 2458 мм</li>
                                    <li>Максимальная высота** 2790 мм</li>
                                    <li>Колесная база** 2340 мм</li>
                                    <li>Минимальный вес без балластов** 4107 кг</li>
                                    <li>Максимальный допустимый рабочий вес 7200 кг</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="https://www.deutz-fahr.com/ru-ru/products/tractors/3027-agrofarm-115-g" class="details"
                            target="__blank">Подробнее</a>
                        <a href="#" class="order">Заказать</a>
                    </div>
                </div>
            </section>
        </div>
        <header th:insert="blocks/footer :: footer"></header>
    </div>
</body>

</html>