<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>

<body>
    <div class="container">
        <header th:insert="blocks/header :: header"></header>
        <div class="main_container">
            <section class="news"><a name="news"></a>
                <h3>Новости</h3>
                <div class="news_items">
                    <img src="../static/img/IMG-20211110-WA0002.jpg" th:src="@{../img/IMG-20211110-WA0002.jpg}" alt="">
                    <p>Аграрная неделя ноябрь 2021
                    </p>
                </div>
                <div class="news_items">
                    <img src="../static/img/IMG_20220120_105041.jpg" th:src="@{../img/IMG_20220120_105041.jpg}" alt="">
                    <p>Отгрузка в хозяйство Новосибирской области
                    </p>
                </div>
            </section>
            <section class="content"><a name="content"></a>
                <div class="item_char">
                    <h2>Agroplus F-V-S</h2>
                    <img src="https://thumb.tildacdn.com/tild6665-3064-4236-b065-383565343064/-/resize/263x/-/format/webp/AGROPLUS_V410.png"
                        alt="">
                    <div>
                        <p style="font-weight: bold;">DEUTZ-FAHR AGROPLUS V410</p>
                        <p>Это компактные, маневренные, многофункциональные машины для работы в садах и виноградниках.
                        </p>
                        <div class="item_char_flex">
                            <div>
                                <span>ДВИГАТЕЛЬ И СИСТЕМА ПИТАНИЯ</span>
                                <ul>
                                    <li>Производитель SDF</li>
                                    <li>Количество цилиндров 4</li>
                                    <li>Рабочий объем 4000 см3</li>
                                    <li>Соответствие экологическим нормам TIER 3</li>
                                    <li>Максимальная мощность (2000/25/EC) 85 л.с.</li>
                                    <li>Максимальный крутящий момент 345 Нм</li>
                                    <li>Общий объем топливных баков 85 л.</li>
                                </ul>
                            </div>
                            <div>
                                <span>ТРАНСМИССИЯ</span>
                                <ul>
                                    <li>Тип КПП Механическая</li>
                                    <li>Количество скоростей вперед/назад 30/15</li>
                                    <li>Максимальная скорость движения 40 км/ч</li>
                                </ul>
                            </div>
                            <div>
                                <span>ХОДОВАЯ СИСТЕМА</span>
                                <ul>
                                    <li>Вкл./выкл. полного привода электро-гидравлическое</li>
                                    <li>Блокировка дифференциалов электро-гидравлическая</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГИДРАВЛИЧЕСКАЯ СИСТЕМА И НАВЕСКА</span>
                                <ul>
                                    <li>Производительность насоса системы 54 л/мин.</li>
                                    <li>Тип системы OCFD</li>
                                    <li>Грузоподъемность заднего навесного устройства 2600 кг</li>
                                </ul>
                            </div>
                            <div>
                                <span>ВАЛ ОТБОРА МОЩНОСТИ</span>
                                <ul>
                                    <li>Скоростные режимы ВОМ 540/540E/1000 об/мин.</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГАБАРИТНЫЕ РАЗМЕРЫ И ВЕС</span>
                                <ul>
                                    <li>Длина* 3338 мм</li>
                                    <li>Минимальная ширина** 1290 мм</li>
                                    <li>Максимальная ширина** 1873 мм</li>
                                    <li>Максимальная высота** 2325 мм</li>
                                    <li>Колесная база** 2155 мм</li>
                                    <li>Минимальный вес без балластов** 2840 кг</li>
                                    <li>Максимальный допустимый рабочий вес 4600 кг</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="https://www.deutz-fahr.com/ru-ru/products/tractors/760-agroplus-f-v-s" class="details"
                            target="__blank">Подробнее</a>
                        <a href="#" class="order">Заказать</a>
                    </div>
                </div>
            </section>
        </div>
        <header th:insert="blocks/footer :: footer"></header>
    </div>
</body>

</html>