<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>

<body>
    <div class="container">

        <header th:insert="blocks/header :: header"></header>

        <div class="main_container">
            <section class="news"><a name="news"></a>
                <h3>Новости</h3>
                <div class="news_items">
                    <img src="../static/img/IMG-20211110-WA0002.jpg" th:src="@{../img/IMG-20211110-WA0002.jpg}" alt="">
                    <p>Аграрная неделя ноябрь 2021
                    </p>
                </div>
                <div class="news_items">
                    <img src="../static/img/IMG_20220120_105041.jpg" th:src="@{../img/IMG_20220120_105041.jpg}" alt="">
                    <p>Отгрузка в хозяйство Новосибирской области
                    </p>
                </div>
            </section>
            <section class="content"><a name="content"></a>

                <div class="item_char">
                    <h2>9 Серия TTV</h2>
                    <img src="https://thumb.tildacdn.com/tild3736-6130-4137-a533-313138656364/-/resize/263x/-/format/webp/9serial.png"
                        alt="">
                    <div>
                        <p>Тракторы DEUTZ-FAHR 9 серии представляют собой ультрасовременные и высокотехнологичные
                            машины,
                            обеспечивающие высокую производительность, идеальные условия для оператора и
                            автоматизацию
                            основных рабочих операций.
                        </p>
                        <div class="item_char_flex">
                            <div>
                                <span>ДВИГАТЕЛЬ И СИСТЕМА ПИТАНИЯ</span>
                                <ul>
                                    <li>Производитель DEUTZ</li>
                                    <li>Количество цилиндров 6</li>
                                    <li>Рабочий объем 7775 см3</li>
                                    <li>Соответствие экологическим нормам TIER 3</li>
                                    <li>Максимальная мощность (2000/25/CE) 336 л.с.</li>
                                    <li>Максимальный крутящий момент 1372 Нм</li>
                                    <li>Общий объем топливных баков 600 л.</li>
                                </ul>
                            </div>
                            <div>
                                <span>ТРАНСМИССИЯ</span>
                                <ul>
                                    <li>Тип КПП Бесступенчатая TTV</li>
                                    <li>Максимальная скорость движения 40 км/ч</li>
                                </ul>
                            </div>
                            <div>
                                <span>ХОДОВАЯ СИСТЕМА</span>
                                <ul>
                                    <li>Вкл./выкл. полного привода электро-гидравлическое</li>
                                    <li>Блокировка дифференциалов электро-гидравлическаяч</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГИДРАВЛИЧЕСКАЯ СИСТЕМА И НАВЕСКА</span>
                                <ul>
                                    <li>Производительность насоса системы 210 л/мин.</li>
                                    <li>Тип системы CCLS</li>
                                    <li>Грузоподъемность заднего навесного устройства 12 000 кг</li>
                                </ul>
                            </div>
                            <div>
                                <span>ВАЛ ОТБОРА МОЩНОСТИ</span>
                                <ul>
                                    <li>Скоростные режимы ВОМ 540Е/1000/1000E об/мин.</li>
                                </ul>
                            </div>
                            <div>
                                <span>ГАБАРИТНЫЕ РАЗМЕРЫ И ВЕС</span>
                                <ul>
                                    <li>Длина* 6152 мм</li>
                                    <li>Минимальная ширина** 2546 мм</li>
                                    <li>Максимальная ширина** 2550 мм</li>
                                    <li>Максимальная высота** 3431 мм</li>
                                    <li>Колесная база** 3135 мм</li>
                                    <li>Минимальный вес без балластов** 12000 кг</li>
                                    <li>Максимальный допустимый рабочий вес 18000 кг</li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
            </section>

        </div>

        <header th:insert="blocks/footer :: footer"></header>
    </div>
</body>

</html>