<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>

<body>
<div class="container">
    <header>
        <div class="header_container">
            <a href="#" class="logo"><img src="../static/img/logo_agro_mashiny.png" th:src="@{../img/logo_agro_mashiny.png}" alt="AgroMashiny"></a>
            <h2>Продажа и обслуживание
                сельскохозяйственной техники</h2>
            <a href="#" class="deutz-fahr_logo"><img src="../static/img/DEUTZ-FAHR_LOGO.svg" th:src="@{../img/DEUTZ-FAHR_LOGO.svg}" alt="DEUTZ-FAHR"></a>
        </div>
        <nav>
            <ul>
                <li><a href="" class="menu">Главная</a></li>
                <li><a href="" class="menu">О нас</a></li>
                <li><a href="" class="menu">Каталог</a></li>
                <li><a href="" class="menu">Новости</a></li>
                <li><a href="" class="menu">Контакты</a></li>
            </ul>
            <a href="tel:+73833357393" class="tel">8 (383) 335-73-93</a>
        </nav>
    </header>
    <div class="main_container">
        <section class="news">
            <h3>Новости</h3>
            <div class="news_items">
                <img src="../static/img/n1.jpg" th:src="@{../img/n1.jpg}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, natus itaque totam
                    explicabo exercitationem aperiam? Praesentium ex minima id itaque nulla dolor labore hic
                    officiis,
                    eius
                    at
                    fugiat, dicta ducimus!
                </p>
            </div>
            <div class="news_items">
                <img src="../static/img/n2.jpg" th:src="@{../img/n2.jpg}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, natus itaque totam
                    explicabo exercitationem aperiam? Praesentium ex minima id itaque nulla dolor labore hic
                    officiis,
                    eius
                    at
                    fugiat, dicta ducimus!
                </p>
            </div>
            <div class="news_items">
                <img src="../static/img/n3.jpg" th:src="@{../img/n3.jpg}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, natus itaque totam
                    explicabo exercitationem aperiam? Praesentium ex minima id itaque nulla dolor labore hic
                    officiis,
                    eius
                    at
                    fugiat, dicta ducimus!
                </p>
            </div>
            <div class="news_items">
                <img src="../static/img/news1.jpg" th:src="@{../img/news1.jpg}" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, natus itaque totam
                    explicabo exercitationem aperiam? Praesentium ex minima id itaque nulla dolor labore hic
                    officiis,
                    eius
                    at
                    fugiat, dicta ducimus!
                </p>
            </div>
        </section>
        <section class="content">
            <h2>Модельный ряд</h2>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild3736-6130-4137-a533-313138656364/-/resize/263x/-/format/webp/9serial.png"
                     alt="">
                <h4>9 Серия TTV</h4>
                <p>Тракторы DEUTZ-FAHR 9 серии представляют собой ультрасовременные и высокотехнологичные машины,
                    обеспечивающие высокую производительность, идеальные условия для оператора и автоматизацию
                    основных рабочих операций.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild3030-6331-4661-a136-313866393265/-/resize/283x/-/format/webp/6serial.png"
                     alt="">
                <h4>6 Серия TTV</h4>
                <p>10 моделей мощностью от 156 до 226 л. с., три колесных базы, три варианта трансмиссии, несколько
                    типов кабин с различными уровнями комфорта и множеством дополнительных возможностей.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild3038-3561-4763-b830-363263633833/-/resize/263x/-/format/webp/6__G.png"
                     alt="">
                <h4>Серия 6G</h4>
                <p>Новая серия DEUTZ-FAHR 6G – идеальное сочетание шестицилиндровых двигателей Deutz (соответствуют
                    экологическим нормам Stage III A), эффективных современных трансмиссий ZF и лучших в своем
                    классе гидравлических систем.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild3432-3832-4666-b731-376461316537/-/resize/263x/-/format/webp/6__W_Profi.png"
                     alt="">
                <h4>Серия 6W Profi</h4>
                <p>Новая серия 6W Profi, спроектированная в Италии, отличается современным дизайном и надежной
                    конструкцией, что обеспечивает высокую производительность и низкие эксплуатационные затраты.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild3435-3165-4833-b437-653534393638/-/resize/283x/-/format/webp/6145_W_HD.png"
                     alt="">
                <h4>6145W HD</h4>
                <p>Новая серия 6145W HD комплектуются проверенными и испытанными двигателями Stage III A Yuchai,
                    эффективной синхронизированной трансмиссией, высокопроизводительными гидравлическими системами и
                    осями для тяжелых условий эксплуатации, которые обеспечивают превосходную надежность и
                    эффективность.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild3431-3034-4862-b835-323535383161/-/resize/283x/-/format/webp/AGROFARM_115_G.png"
                     alt="">
                <h4>AGROFARM 115 G</h4>
                <p>Данная модель отличается небольшими габаритными размерами и высокотехнологичным оснащением.
                    Трактор доступен в исполнении GS с КПП powershift и электрогидравлическим реверсом.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild6665-3064-4236-b065-383565343064/-/resize/263x/-/format/webp/AGROPLUS_V410.png"
                     alt="">
                <h4>Agroplus F-V-S</h4>
                <p>Это компактные, маневренные, многофункциональные машины для работы в садах и виноградниках.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild3265-3537-4162-b439-643032313735/-/resize/270x/-/format/webp/AGROLUX_480.png"
                     alt="">
                <h4>AGROLUX 4.80</h4>
                <p>Маневренная, универсальная и простая в эксплуатации машина с короткой колесной базой была
                    разработана специально для небольших фермерских хозяйств, животноводческих ферм, коммунальных
                    служб, а также для проведения вспомогательных работ по уходу за посевами.
                </p>
            </div>
            <div class="content_items">
                <img src="https://thumb.tildacdn.com/tild6339-3662-4733-b266-343930316332/-/contain/380x285/center/center/-/format/webp/photo.png"
                     alt="">
                <h4>DEUTZ-FAHR C 7206 TS Extrapower</h4>
                <p>C7206 TS Extra Power был продуман в деталях, чтобы получить максимальное качество соломы и
                    высокую производительность, обеспечивая при этом непревзойденную эффективность и надежность.
                </p>
            </div>
        </section>

    </div>
    <section class="providers">
        <h2>Производители</h2>
        <div class="providers_items">
            <a href=""><img src="../static/img/providers/ant-.jpg"             th:src="@{../img/providers/ant-.jpg}"              alt=""></a>
            <a href=""><img src="../static/img/providers/apache-.jpg"          th:src="@{../img/providers/apache-.jpg}"           alt=""></a>
            <a href=""><img src="../static/img/providers/bdm-agro-.jpg"        th:src="@{../img/providers/bdm-agro-.jpg}"         alt=""></a>
            <a href=""><img src="../static/img/providers/bourgault-.jpg"       th:src="@{../img/providers/bourgault-.jpg}"        alt=""></a>
            <a href=""><img src="../static/img/providers/chembine--.jpg"       th:src="@{../img/providers/chembine--.jpg}"        alt=""></a>
            <a href=""><img src="../static/img/providers/deutz-fahr-logo-.jpg" th:src="@{../img/providers/deutz-fahr-logo-.jpg}"  alt=""></a>
            <a href=""><img src="../static/img/providers/faresin-.jpg"         th:src="@{../img/providers/faresin-.jpg}"         alt=""></a>
            <a href=""><img src="../static/img/providers/gatchin-s.jpg"        th:src="@{../img/providers/gatchin-s.jpg}"        alt=""></a>
            <a href=""><img src="../static/img/providers/gatchina-.jpg"        th:src="@{../img/providers/gatchina-.jpg}"         alt=""></a>
            <a href=""><img src="../static/img/providers/highline-.jpg"        th:src="@{../img/providers/highline-.jpg}"         alt=""></a>
            <a href=""><img src="../static/img/providers/honey--.jpg"          th:src="@{../img/providers/honey--.jpg}"           alt=""></a>
            <a href=""><img src="../static/img/providers/kemz-.jpg"            th:src="@{../img/providers/kemz-.jpg}"             alt=""></a>
            <a href=""><img src="../static/img/providers/krmz-.jpg"            th:src="@{../img/providers/krmz-.jpg}"             alt=""></a>
            <a href=""><img src="../static/img/providers/krone-.jpg"           th:src="@{../img/providers/krone-.jpg}"            alt=""></a>
            <a href=""><img src="../static/img/providers/redekop-.jpg"         th:src="@{../img/providers/redekop-.jpg}"          alt=""></a>
            <a href=""><img src="../static/img/providers/sms-.jpg"             th:src="@{../img/providers/sms-.jpg}"              alt=""></a>
            <a href=""><img src="../static/img/providers/terriant-.jpg"        th:src="@{../img/providers/terriant-.jpg}"         alt=""></a>
            <a href=""><img src="../static/img/providers/zemlya.jpg"           th:src="@{../img/providers/zemlya.jpg}"            alt=""></a>
        </div>
    </section>
    <section class="offer">
        <h2>Предлагаем</h2>
        <div>
            <a href=""><img src="../static/img/sales.png" th:src="@{../img/sales.jpg}" alt="Sale"></a>
            <p>Продажа сельхозтехники</p>
        </div>
        <div>
            <a href=""><img src="../static/img/services.jpg" th:src="@{../img/services.jpg}" alt="Service"></a>
            <p>Сервисное обслуживание</p>
        </div>
    </section>
    <section class="about">
        <h2>О нас</h2>
        <div>
            <h3>Компания АгроМашины</h3>
            <p>Компания «АгроМашины» – официальный дистрибьютор и дилер техники известных европейских, канадских и
                американских брендов. Объединяя многолетние традиции производства, контроля качества и сервисного
                обслуживания ведущих брендов производителей сельскохозяйственной техники, компания «АгроМашины»
                создает уникальные предложения по оснащению предприятий современной производительной техникой для
                обеспечения комплекса сельскохозяйственных работ в растениеводстве и животноводстве.</p>
        </div>
        <div>
            <h3>Комания DEUTZ-FAHR</h3>
            <p>За более чем за 100 лет своего существования компания DEUTZ-FAHR зарекомендовала себя как лидера,
                поставляющего передовые немецкие технологии в области тракторного производства, будучи при этом
                известным брендом, пользующимся мировым признанием.</p>

        </div>
    </section>
    <footer></footer>
</div>
</body>

</html>