<!DOCTYPE html>

<head>
    <title>Spring Security Example </title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>
<body>
<div th:if="${param.error}">

    Invalid username and password.
</div>
<div th:if="${param.logout}">
>
        <h3>You have been logged out.</h3>

</div>
<form th:action="@{/login}" method="post">
    <header th:insert="blocks/header :: header"></header>
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>

</form>
</body>
</html>