<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Новости</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>

<body>

    <header  th:insert="blocks/header :: header"></header>


    <div class="news_full_description">

        <h3 th:text="${newsAndImg.news.titleNews}"></h3>
        <div class="news_slider">

            <img th:src="@{../img/left.png}" src="../static/img/left.png" class="prev" alt="">
            <img th:src="@{../img/right.png}" src="../static/img/right.png" class="next" alt="">

            <td th:each="picture, iterstat : ${newsAndImg.imgs}" >
                <img th:src="${picture}" class="" th:class="${iterstat.index}== 0  ? 'active':'none'">
            </td>

        </div>
        <p th:text="${newsAndImg.news.contentNews}"></p>
        <span class="news_date">10.10.2022</span>
    </div>



    <footer th:insert="blocks/footer :: footer"></footer>

    <script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
    <script th:src="@{../js/slider.js}" src="../static/js/slider.js"></script>

</body>
</html>