<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Новости</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:href="@{../static/img/favikon.png}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
</head>

<body>
    <div class="container">
        <div class="main_container">
            <section class="news_all">
                <div class="news_full_description">
                    <h3>Новость 1</h3>
                    <div class="news_slider">
                        <img src="../static/img/left.png" class="prev" alt="">
                        <img src="../static/img/right.png" class="next" alt="">
                        <img src="../static/img/news/news1/n1.jpg" class="active" alt="">
                        <img src="../static/img/news/news1/n2.jpg" class="none" alt="">
                        <img src="../static/img/news/news1/n3.jpg" class="none" alt="">
                        <img src="../static/img/news/news1/bolt.jpg" class="none" alt="">
                        <img src="../static/img/news/news1/IMG_20220120_105041.jpg" class="none" alt="">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam minima nam, pariatur quidem
                        sequi facere, provident ex delectus blanditiis sint alias numquam enim excepturi tenetur quaerat
                        saepe aperiam. Ipsum, fuga!</p>
                    <span class="news_date">10.10.2022</span>
                </div>
                <div class="news_full_description">
                    <h3>Новость 2</h3>
                    <div class="news_slider">
                        <img src="../static/img/left.png" class="prev" alt="">
                        <img src="../static/img/right.png" class="next" alt="">
                        <img src="../static/img/news/news2/n1.jpg" class="active" alt="">
                        <img src="../static/img/news/news2/n2.jpg" class="none" alt="">
                        <img src="../static/img/news/news2/n3.jpg" class="none" alt="">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam minima nam, pariatur quidem
                        sequi facere, provident ex delectus blanditiis sint alias numquam enim excepturi tenetur quaerat
                        saepe aperiam. Ipsum, fuga!</p>
                    <span class="news_date">10.10.2022</span>
                </div>
                <div class="news_full_description">
                    <h3>Новость 3</h3>
                    <div class="news_slider">
                        <img src="../static/img/left.png" class="prev" alt="">
                        <img src="../static/img/right.png" class="next" alt="">
                        <img src="../static/img/news/news3/n1.jpg" class="active" alt="">
                        <img src="../static/img/news/news3/n2.jpg" class="none" alt="">
                        <img src="../static/img/news/news3/n3.jpg" class="none" alt="">
                    </div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam minima nam, pariatur quidem
                        sequi facere, provident ex delectus blanditiis sint alias numquam enim excepturi tenetur quaerat
                        saepe aperiam. Ipsum, fuga!</p>
                    <span class="news_date">10.10.2022</span>
                </div>
            </section>


        </div>
    </div>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/slider.js"></script>
</body>

</html>