<div th:fragment="footer">
    <div class="col map">
        <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aaf3111d06d620342d5d27d4098a3322dd77407e1f175a960253ccf40fd4505e3&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="contacts"><a name="contacts"></a>
        <div class="main_office">
            <h3>Главный офис</h3>
            <ul>
                <li>630514</li>
                <li>Новосибирская область, ceло Красноглинное</li>
                <li>ул. Мира, д. 2а</li>
            </ul>
            <h3>Телефоны</h3>
            <ul>
                <li><a href="tel:+73833357393">+7 383 335-73-93</a></li>
                <li><a href="tel:+79139245321">+7 913 924-53-21</a></li>
                <li><a href="tel:+79833111031">+7 983 311-10-31</a></li>
            </ul>
            <h3>E-mail</h3>
            <ul>
                <li><a href="mailto:3111031@agromashiny.ru">3111031@agromashiny.ru</a></li>
                <li><a href="mailto:info@agromashiny.ru">info@agromashiny.ru </a></li>
            </ul>
        </div>
        <div class="offices">
            <h3>Филиалы</h3>
            <ul>
                <li>Благовещенск</li>
                <li>Владивосток</li>
                <li>Иркутск</li>
                <li>Красноярск</li>
                <li>Кемерово</li>
                <li>Барнаул</li>
                <li>Новосибирск</li>
                <li>Биробиджан</li>
            </ul>
        </div>
        <a th:href="@{/newsadding}">l</a>
    </div>
</div>