<td th:fragment="fragment">

    <h3>Новости</h3>

    <table>
        <tbody>
        <tr th:each="n:${newsAndImgs}" >

            <div class="news_items">
                <a th:href="@{'/news/' + ${n.news.Id}}">
                    <img th:src="${n.imgs[0]}" src="../static/img/IMG_20220120_105041.jpg" alt="">

                    <h4 th:text="${n.news.titleNews}"></h4>
                    <p th:text="${n.news.announcementNews}"></p>

                </a>
            </div>
        </tr>

        </tbody>

    </table>

</td>